
body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #3A5662;
    display: inline-flex;
}

.main{
    position: fixed;
    top: 0;
    left: 280px;
    width: calc( 100vw - 280px);
    overflow-y: scroll;
}


.main_title{
    font-size: 25px;
    color: #fff;
    margin: 25px 25px 0px;
}
.main_body{
    background-color: #fff;
    margin: 30px 20px;
    border-radius: 3px;
    padding: 30px;
    display: inline-flex;
}

.main_body img{
    clip-path: circle(75px at center);
    width: 200px;
}
.main_body h2{
    margin-top: 20px;
    color: #245E83;
    font-size: 20px;
}
.main_body p{
    margin-top: 10px;
}
.navbar{
    position: fixed;
    top: 0;
    width: 280px;
    background-color: #092D3B;
    color: #fff;
    height: 100%;
}

.navbar .title{
    width: 100%;
    height: 80px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #06212D;
}


ul.navs li{
    border-bottom: 1px solid #06212D;
    padding: 16px 40px;
    display: flex;
    align-items: center;
}

ul.navs li:hover,
ul.navs li.active{
    background-color: #245E83;
    cursor: pointer;
}

ul.navs i{
    margin: 0 10px;
}
@media (max-width: 1024px){
    .main{
        width: calc( 100vw - 55px);
        left: 55px;
    }
    .navbar{
        width: 55px;
    }
    ul.navs li{
        padding: 15px 10px;
    }
    ul.navs li span,
    .navbar .title{
        display: none;
    }
}
@media (max-width: 768px){
    .main{
        width: 100%;
        left: 0;
    }
    .navbar{
        display: none;
    }
    .main_body{
        display: block;
        margin: 30px;
    }
    .main_body img{
        display: flex;
        margin: auto;
    }
    .main_body h2{
        text-align: center;
    }
}



.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.143rem;
    background-color: transparent;
}
table {
    border-collapse: collapse;
}
.table {
    color: #76838f;
}
.table tfoot th, .table thead th {
    font-weight: 400;
    color: #526069;
    border-bottom-width: 1px;
}
.table thead:first-child th {
    border-top: none;
}
.table td, .table th {
    padding: .572rem;
    vertical-align: top;
    border-top: 1px solid #e4eaec;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Modal */
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: #ccc;
    overflow: hidden;
  }
  
  .modal-container {
    margin: 60px auto;
    padding-top: 0px;
    position: relative;
    width: 160px;
  }
  .modal-container .modal-btn {
    display: block;
    margin: 0 auto;
    color: #fff;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background: #446CB3;
    font-size: 22px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;
  }
  .modal-container .modal-btn:hover {
    background: #365690;
  }
  .modal-container .modal-content,
  .modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .modal-container .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  .modal-container .modal-close:hover {
    color: #333;
  }
  .modal-container .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446CB3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
  }
  .modal-container .modal-content-btn:hover {
    color: #fff;
    background: #365690;
  }
  .modal-container #modal-toggle {
    display: none;
  }
  .modal-container #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    max-width: 400px;
    width: 400px;
    height: 280px;
    padding: 10px 30px;
    position: fixed;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  }
  @media (max-width: 400px) {
    .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
      left: 0;
    }
  }
  
/* Estrutura */
.input-container {
    position: relative;
  }
  
  input {
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
  }
  
  .label {
    top: 0;
    left: 0; right: 0;
    color: #616161;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
  }
  
  input,
  label {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
  }
  
  /* Interation */
  input:valid,
  input:focus {
    border-bottom: 2px solid #26a69a;  
  }
  
  input:valid + label,
  input:focus + label {
    color: #26a69a;
    font-size: .8rem;
    top: -30px;
    pointer-events: none;
  }
  